* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #FFE32A, #FE5275);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

form {
    margin: 85px auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.landing_logo {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
