@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column; }

.home__container {
  background: linear-gradient(to right, #FFE32A, #fe5275);
  height: 100vh; }

form {
  margin: 0px auto;
  padding: 42px 0;
  max-width: 400px;
  display: flex;
  flex-direction: column; }
  form .landing_logo {
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-weight: 700; }
  form .search__criteria {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px auto; }
    form .search__criteria .checkmark {
      height: 50px;
      width: 50px;
      background-color: #fff; }
      form .search__criteria .checkmark:after {
        content: "";
        position: absolute;
        display: none; }
    form .search__criteria .landing_searchbar {
      padding: 10px;
      font-size: 16px;
      border: 0;
      border-radius: 5px;
      color: #7e7e7e;
      margin-bottom: 20px;
      outline: none; }
      form .search__criteria .landing_searchbar::placeholder {
        color: #ccc; }
    form .search__criteria .search_restrictions_container {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px; }
      form .search__criteria .search_restrictions_container .landing_restrictions-inputs .checkbox__label {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        form .search__criteria .search_restrictions_container .landing_restrictions-inputs .checkbox__label .checkbox {
          width: 20px;
          height: 20px; }
      form .search__criteria .search_restrictions_container label {
        display: inline-block;
        background: #fe5275;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        width: 94%; }
      form .search__criteria .search_restrictions_container .landing_calories {
        display: flex;
        flex-direction: column; }
        form .search__criteria .search_restrictions_container .landing_calories .landing_search-button {
          padding: 10px;
          background: #9fcd6b;
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          border: none;
          border-radius: 5px; }
          form .search__criteria .search_restrictions_container .landing_calories .landing_search-button:hover {
            cursor: pointer;
            background: #82e4c9;
            transition: .5s; }
        form .search__criteria .search_restrictions_container .landing_calories label {
          display: flex;
          justify-content: space-between;
          align-items: center; }
        form .search__criteria .search_restrictions_container .landing_calories .landing_exclude_input {
          padding: 5px;
          border: 0;
          border-radius: 5px;
          width: 150px;
          font-size: 14px; }
        form .search__criteria .search_restrictions_container .landing_calories .calories_container {
          display: flex; }
          form .search__criteria .search_restrictions_container .landing_calories .calories_container .landing_calories_input {
            width: 60px;
            padding: 5px;
            border-radius: 5px;
            border: none;
            font-size: 14px; }
        form .search__criteria .search_restrictions_container .landing_calories #firstInput {
          margin-right: 20px; }

.recipe__container {
  margin: 0 11px;
  width: 90%;
  margin-top: 15px; }
  .recipe__container .recipe__list {
    list-style: none;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px; }
    .recipe__container .recipe__list li {
      position: relative; }
      .recipe__container .recipe__list li .delete--button {
        left: 100px; }
      .recipe__container .recipe__list li button {
        position: relative;
        top: 270px;
        left: 42px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #FEA482;
        border: none;
        color: #fff;
        font-size: 25px; }
        .recipe__container .recipe__list li button:hover {
          cursor: pointer;
          background-color: #fe5275;
          transition: 0.5s; }
        .recipe__container .recipe__list li button:focus {
          background-color: #fe5275; }
      .recipe__container .recipe__list li h1 {
        color: #fe5275; }
      .recipe__container .recipe__list li p {
        color: #525252;
        font-size: 18px; }
      .recipe__container .recipe__list li span {
        color: #9fcd6b; }
      .recipe__container .recipe__list li img {
        border-radius: 8px; }

.results__header {
  padding: 10px; }
  .results__header--nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .results__header--nav .results__title {
      text-transform: uppercase;
      color: #FEA482;
      font-size: 35px; }
    .results__header--nav .fav--title {
      font-size: 35px;
      color: #FEA482;
      text-transform: uppercase; }
    .results__header--nav .logo {
      text-decoration: none;
      font-size: 40px;
      font-weight: 700;
      color: #82e4c9; }
    .results__header--nav input {
      width: 700px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px; }
    .results__header--nav .search--button, .results__header--nav .fav--button {
      padding: 10px;
      width: 150px;
      font-size: 16px;
      border-radius: 5px;
      background: rgba(130, 228, 201, 0.7);
      color: #fff;
      border: none;
      font-size: 20px; }
      .results__header--nav .search--button:hover, .results__header--nav .fav--button:hover {
        cursor: pointer;
        background: #82e4c9;
        transition: 0.5s; }

.search__criteria--results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  margin: 0 11px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .search__criteria--results label {
    background: linear-gradient(to right, #82e4c9, #9fcd6b);
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 18px; }
  .search__criteria--results .min, .search__criteria--results .max {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px; }
  .search__criteria--results .options {
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff; }
  .search__criteria--results > :nth-child(2) {
    background: linear-gradient(to right, #9fcd6b, #FFE32A); }
  .search__criteria--results > :nth-child(3) {
    background: linear-gradient(to right, #FFE32A, #FEA482); }
  .search__criteria--results > :nth-child(4) {
    background: linear-gradient(to right, #FEA482, #fe5275); }

.load--more {
  width: 10%;
  margin: 20px auto;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  background: linear-gradient(to right, #fe5275, #DF4AFA);
  color: #fff;
  font-size: 18px; }
  .load--more:hover {
    cursor: pointer;
    background: linear-gradient(to left, #fe5275, #DF4AFA);
    transition: 0.5s; }

.favorites__header {
  padding: 10px; }

.favorites__container {
  margin: 0 auto 20px auto;
  width: 100%; }
  .favorites__container .favorites__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 11px;
    border-top: 1px solid #ccc; }
    .favorites__container .favorites__list li {
      display: flex;
      flex-direction: column;
      width: 23%;
      margin-right: 25.173px; }
      .favorites__container .favorites__list li h1 {
        color: #fe5275; }
      .favorites__container .favorites__list li p {
        color: #525252;
        font-size: 18px; }
      .favorites__container .favorites__list li span {
        color: #9fcd6b; }
      .favorites__container .favorites__list li img {
        border-radius: 8px; }
      .favorites__container .favorites__list li .delete--button {
        padding: 10px 40px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 270px;
        padding: 10px 20px;
        font-size: 25px;
        border-radius: 5px;
        background-color: #FEA482;
        border: none;
        color: #fff; }
        .favorites__container .favorites__list li .delete--button:hover {
          cursor: pointer;
          background: #82e4c9;
          transition: 0.5s; }
