<div class="container">

  <header class="results__header">
    <nav class="results__header--nav">
      <a href="#!/search" class="logo">Hungr</a>
      <input type="text" placeholder="Search">
      <button class="search--button">Search</button>
      <button href="#!/favorites" class="fav--button">Favorites</button>
    </nav>
  </header>
  <section class="search__criteria--results">
    <label>
      Calories: <input class="min" type="number" placeholder="Min"> <input class="max" type="number" placeholder="Max">
    </label>
    <div class="options" ng-repeat="option in $ctrl.restrictions">
      <span>{{ option }}</span> <input type="checkbox">
    </div>
  </section>

  <section class="recipe__container">
    <ul class="recipe__list">
      <li recipe="recipe" index="$index" ng-repeat="recipe in $ctrl.results track by $index">
        <button ng-click="$ctrl.addToFavorites(recipe)">Add To Favorites</button>
        <img src="{{ recipe.image }}">
        <h1>{{ recipe.label }}</h1>
        <p>{{ recipe.source }}</p>
      </li>
    </ul>
  </section>
  
</div>